@media (max-width: 768px) {

    .header{
        height: 70vh;
    }
    .header .text{
        width: 40%;
    }
    
    .header .frame{
        width: 80%;
    }
    
    
    .merits {
        position: relative;
        width: 100%;
        height: 840px;
        margin: 64px 0;
    }
    
    .merit{
        width: 280px;
        height: 280px;
        border-radius: 140px;
        position: absolute;
    
    }
    
    .merit1{
        border: 8px solid #CED2BA;
        right: 0%;
        transform: translateX(-40%);
    }
    
    .merit2{
        border: 8px solid #D8E0E2;
        top: 300px;
        left: 0%;
        transform: translateX(-10%);
    }
    .merit3{
        border: 8px solid #D8D6D9;
        top: 600px;
        right: 0%;
        transform: translateX(-40%);
    }
    
    
    .merit_title{
        font-size: 20px; 
    }
    
    .merit_text{
        font-size: 14px;
        width: 220px;
    }
    
    .merit1 img{
        height: 120px;
        top: 88px;
        left: -80px;
    }
    .merit2 img{
        height: 120px;
        top: 88px;
        right: -80px;
    }
    
    /* 境界線の色を分けるもの */
    .div_border{
        height: 40px;
    }
    
    
    /* ここから必要なもの*/

    .mustitems{
        padding: 28px 0;
    }
    
    .mustitems_section{
        flex-direction: column;
    }
    
    .mustitems .title{
        height: 36px;
        width: auto;
        padding: 4px 12px;
        background: linear-gradient(transparent 50%, #F4F0CD 50%);
        margin-bottom: 32px;
    }

    .mustitems .img_box{
        width: 200px;
        height: 280px;
    }
    
    .mustitems img{
        width: 200px;
    }
    
    .mustitems .item{
        width: 320px;
        height: 400px;
    }
    
    .mustitems .item_name{
        font-size: 22px;
    }
    
    .mustitems .item_expl{
        font-size: 16px;
    }
    
    /* ここからGoodnotesの紹介 */
    
    
    .goodnotes .title{
        height: 36px;
        width: auto;
        padding: 4px 12px;
        margin-bottom: 32px;
    }
    
    .goodnotes_title{
        width: 99%;
        height: 220px;
        margin: 24px auto;

    }
    
    .goodnotes_title img{
        width: 60px;
        height: 60px;
    }
    
    .goodnotes_title p{
        font-size: 48px; 
    }
    
    .goodnotes .item1{
        width: 98%;
        height: 300px;
    }
    
    .goodnotes .item2{
        width: 98%;
        height: 300px;
    }
    .goodnotes .item3{
        width: 98%;
        height: 300px;
    }
    .goodnotes .item4{
        width: 98%;
        height: 480px;
    }
    
    .goodnotes .content img{
        margin-top: 24px;
        height: 80px;
    }
    
    
    .goodnotes .item .topic{
        font-size: 20px;
        padding: 4px 10px;
    }
    
    .goodnotes .item .expl{
        font-size: 14px;
    }
    
    .flex_column{
        flex-direction: column;
        row-gap: 24px;
    }
    
    .flex_row {
        row-gap: 24px;
    }
    
    .ankimarker .title{
        height: 48px;
        padding: 0 8px;
        margin-bottom: 24px;
    }
    
      .ankimarker_name_title{
        display: flex;
        column-gap: 16px;
        width: 100%;
        height: 100px;
      }
    
      .ankimarker_name_title img{
        width: 60px;
        height: 60px;
      }
    
      .text_ankimarker{
        font-size: 36px;
      }
    

      .ankicycle {
        position: relative;
        width: 95%;
        height: 100%;
        aspect-ratio: 6/5;
        max-width: 400px;
        margin-top: 24px;
      }
    
    
      .cycle_cloud{
        width: 100%;
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translateY(-50%) translateX(-50%); 
      }
    
      .cycle_texts{
        font-size: 20px;
        width: 180px;
      }
    
    
    .cycle_arrow{
        width: 60px;
      }
    
      .cycle_texts p{
        margin-top: 0;
        margin-bottom: 0;
      }
    
      .cycle_texts span{
        background:linear-gradient(transparent 50%, #F9C9C9 50%);
      }
    
      .arrow_down{
        margin-left: 15%;
      }
    
      .wrap_ankicycle{
        flex-direction: column;
        font-size: 24px;

      }

      /* あると便利 */

    .maybeitems{
        padding: 28px 0;
    }
    
    .maybeitems_section{
        flex-direction: column;
    }
    
    .maybeitems .title{
        height: 36px;
        width: auto;
        padding: 4px 12px;
        margin-bottom: 32px;
    }

    .maybeitems .img_box{
        width: 200px;
        height: 280px;
    }
    
    .maybeitems img{
        width: 200px;
    }
    
    .maybeitems .item{
        width: 320px;
        height: 400px;
    }
    
    .maybeitems .item_name{
        font-size: 22px;
    }
    
    .maybeitems .item_expl{
        font-size: 16px;
    }

    footer{
        font-size: 10px
    }
    
    
    
    
      
    



}