body {
    background-color: #FFFDFB;
}

.header{
    width: fit-content;
    margin: 32px auto;
}

.header img{
    width: 600px;
}

.merits {
    position: relative;
    width: 100%;
    height: 840px;
    margin: 32px 0;
}

.merit{
    width: 380px;
    height: 380px;
    border-radius: 190px;
    position: absolute;

}

.merit1{
    border: 10px solid #CED2BA;
    left: 60%;
    transform: translateX(-20%);
}

.merit2{
    border: 10px solid #D8E0E2;
    top: 220px;
    left: 40%;
    transform: translateX(-80%);
}
.merit3{
    border: 10px solid #D8D6D9;
    top: 440px;
    left: 60%;
    transform: translateX(-30%);
}


.merit_content{
    width: 90%;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translateY(-50%) translateX(-50%); 
}

.merit_title{
    font-size: 24px;
    text-align: center;
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;

}

.merit_text{
    font-size: 18px;
    text-align: center;
    font-family: "Yomogi", cursive;
    font-weight: 400;
    font-style: normal;
}

.merit1 img{
    height: 150px;
    position: fixed;
    top: 125px;
    left: -100px;
}
.merit2 img{
    height: 150px;
    position: fixed;
    top: 125px;
    right: -100px;
}

/* 境界線の色を分けるもの */
.div_border{
    width: 100%;
    height: 60px;
    vertical-align: top;
}


/* ここから必要なもの*/

.mustitems{
    background-color: #D8E0E2;
    padding: 128px 0;
    text-align: center;
}

.mustitems_section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 128px;
}

.mustitems .title{
    height: 48px;
    padding: 4px 12px;
    background: linear-gradient(transparent 50%, #F4F0CD 50%);
    margin-bottom: 32px;
}

.mustitems img{
    width: 240px;
    justify-content: center;}

.item{
    width:360px;
    height: 400px;
}

.item_name{
    font-family: "Kiwi Maru", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.item_expl{
    font-family: "Yomogi", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

/* ここからGoodnotesの紹介 */

.goodnotes{
    background-color: #CEE5EF;
    text-align: center;
}

.goodnotes .title{
    height: 48px;
    padding: 4px 12px;
    background: linear-gradient(transparent 50%, #F4F0CD 50%);
    margin-bottom: 32px;
}

.goodnotes_title{
    display: flex;
    column-gap: 32px;
    background: url(images/cloud1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 600px;
    height: 250px;
    margin: 32px auto;
    justify-content: center;
    align-items: center;
}

.goodnotes_title img{
    width: 80px;
    height: 80px;
    border: 1px solid #0f0f0f;
    border-radius: 8px;
}

.goodnotes_title p{
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 64px; 
    margin: 0;
}


.goodnotes .item1{
    background: url(images/cloud2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 720px;
    height: 500px;
    position: relative;
}

.goodnotes .item2{
    background: url(images/cloud3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 720px;
    height: 400px;
    position: relative;
}
.goodnotes .item3{
    background: url(images/cloud3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 720px;
    height: 480px;
    position: relative;
}
.goodnotes .item4{
    background: url(images/cloud4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 720px;
    height: 660px;
    position: relative;
}

.goodnotes .content{
    white-space: nowrap;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translateY(-50%) translateX(-50%); 
}

.goodnotes .content img{
    margin-top: 24px;
    height: 80px;
}


.goodnotes .item .topic{
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    background: linear-gradient(transparent 50%, #E7F5E4 50%);
    width: fit-content;
    padding: 4px 10px;
}

.goodnotes .item .expl{
    font-family: "Yomogi", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: left;
    width: fit-content;

}

.flex_column{
    display: flex;
    column-gap: 120px;
    width: 100%;
    align-items: center;
}

.flex_row {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin: 0 auto;
    align-items: center;
    width: 100%;
}
